* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 36px;
  line-height: 65px;
  text-align: center;
  color: #00ffad;
  background-color: #563;
}
ul {
  list-style: none;
  margin: 0 auto;
  width: 700px;
}
li {
  font-size: 20px;
  line-height: 40px;
  color: #9ab198;
  border-left: 1px solid #615555;
  border-right: 1px solid #615555;
  border-bottom: 1px solid #615555;
  margin-bottom:
}
ul li:nth-child(1){
  border-top: 1px solid #615555;
}
