<p id="http" class="part">HTTP 基础</p>
<table class="index-table">
  <tbody>
    <tr class="chapter-wrap">
      <td class="chapter-index">第 1 节</td>
      <td class="chapter-title">
        <a href="./http/1-http-intro.html">HTTP 简介</a>
      </td>
    </tr>
    <tr class="chapter-wrap">
      <td class="chapter-index">第 2 节</td>
      <td class="chapter-title">
        <a href="./http/2-making-request.html">故事的起点：发起 HTTP 请求</a>
      </td>
    </tr>
    <tr class="chapter-wrap">
      <td class="chapter-index">第 3 节</td>
      <td class="chapter-title">
        <a href="./http/3-request.html">HTTP 请求的格式</a>
      </td>
    </tr>
    <tr class="chapter-wrap">
      <td class="chapter-index">第 4 节</td>
      <td class="chapter-title">
        <a href="./http/4-response.html">HTTP 响应的格式</a>
      </td>
    </tr>
    <tr class="chapter-wrap">
      <td class="chapter-index">第 5 节</td>
      <td class="chapter-title">
        <a href="./http/5-query-string.html">查询字符串</a>
      </td>
    </tr>
     <tr class="chapter-wrap">
        <td class="chapter-index">第 6 节</td>
        <td class="chapter-title">
          <a href="./http/6-get-data.html">GET 链接中嵌入参数传递到服务器端</a>
        </td>
      </tr>
      <tr class="chapter-wrap">
        <td class="chapter-index">第 7 节</td>
        <td class="chapter-title">
          <a href="./http/7-cors.html">跨域请求问题</a>
        </td>
      </tr>
      <tr class="chapter-wrap">
        <td class="chapter-index">第 8 节</td>
        <td class="chapter-title">
          <a href="./http/8-form.html">用 POST 传复杂数据到服务器（ form 篇）</a>
        </td>
      </tr>
      <tr class="chapter-wrap">
        <td class="chapter-index">第 9 节</td>
        <td class="chapter-title">
          <a href="./http/9-axios.html">用 POST 传复杂数据到服务器（ axios 篇）</a>
        </td>
      </tr>
      <tr class="chapter-wrap">
        <td class="chapter-index">第 10 节</td>
        <td class="chapter-title">
          <a href="./http/10-four-ways.html">梳理前台向后台传数据的四种形式</a>
        </td>
      </tr>
  </tbody>
</table>
