<p id="session" class="part">Cookie，Session 和登录态</p>
<table class="index-table">
  <tbody>
     <tr class="chapter-wrap">
       <td class="chapter-index">第 1 节</td>
       <td class="chapter-title">
         <a href="./session/1-cookie.html">Cookie</a>
       </td>
     </tr>
     <tr class="chapter-wrap">
       <td class="chapter-index">第 2 节</td>
       <td class="chapter-title">
         <a href="./session/2-session.html">Session</a>
       </td>
     </tr>
     <tr class="chapter-wrap">
       <td class="chapter-index">第 3 节</td>
       <td class="chapter-title">
       <a href="./session/3-session-demo-p1.html">Express Session 接口实现登录功能(上半部分)</a>
       </td>
     </tr>
     <tr class="chapter-wrap">
       <td class="chapter-index">第 4 节</td>
       <td class="chapter-title">
       <a href="./session/4-session-demo-p2.html">Express Session 接口实现登录功能(下半部分)</a>
       </td>
     </tr>
     <tr class="chapter-wrap">
       <td class="chapter-index">第 5 节</td>
       <td class="chapter-title">
       <a href="./session/5-new-cat.html">创建商品分类</a>
       </td>
     </tr>
     <tr class="chapter-wrap">
       <td class="chapter-index">第 6 节</td>
       <td class="chapter-title">
       <a href="./session/6-new-product.html">创建商品</a>
       </td>
     </tr>
     <tr class="chapter-wrap">
       <td class="chapter-index">第 7 节</td>
       <td class="chapter-title">
       <a href="./session/7-signup.html">用户注册登录（ API 功能 ）
</a>
       </td>
     </tr>
     <tr class="chapter-wrap">
       <td class="chapter-index">第 8 节</td>
       <td class="chapter-title">
       <a href="./session/8-signup-p2.html">用户注册登录（ 前端功能 ）</a>
       </td>
     </tr>
     <tr class="chapter-wrap">
       <td class="chapter-index">第 x 节</td>
       <td class="chapter-title">
       <a href="./session/session-wiki.html">wiki</a>
       </td>
     </tr>
  </tbody>
</table>
